<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shouhou.mapper.InstrumentMapper" >
  <resultMap id="BaseResultMap" type="com.shouhou.pojo.Instrument" >
    <id column="instrument_id" property="instrumentId" jdbcType="INTEGER" />
    <result column="instrument_name" property="instrumentName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    instrument_id, instrument_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shouhou.pojo.InstrumentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from instrument
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from instrument
    where instrument_id = #{instrumentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from instrument
    where instrument_id = #{instrumentId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.shouhou.pojo.InstrumentExample" >
    delete from instrument
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shouhou.pojo.Instrument" >
    <selectKey keyProperty="instrumentId" resultType="Integer" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into instrument (instrument_id, instrument_name)
    values (#{instrumentId,jdbcType=INTEGER}, #{instrumentName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shouhou.pojo.Instrument" >
    insert into instrument
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="instrumentId != null" >
        instrument_id,
      </if>
      <if test="instrumentName != null" >
        instrument_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="instrumentId != null" >
        #{instrumentId,jdbcType=INTEGER},
      </if>
      <if test="instrumentName != null" >
        #{instrumentName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shouhou.pojo.InstrumentExample" resultType="java.lang.Integer" >
    select count(*) from instrument
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update instrument
    <set >
      <if test="record.instrumentId != null" >
        instrument_id = #{record.instrumentId,jdbcType=INTEGER},
      </if>
      <if test="record.instrumentName != null" >
        instrument_name = #{record.instrumentName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update instrument
    set instrument_id = #{record.instrumentId,jdbcType=INTEGER},
      instrument_name = #{record.instrumentName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shouhou.pojo.Instrument" >
    update instrument
    <set >
      <if test="instrumentName != null" >
        instrument_name = #{instrumentName,jdbcType=VARCHAR},
      </if>
    </set>
    where instrument_id = #{instrumentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shouhou.pojo.Instrument" >
    update instrument
    set instrument_name = #{instrumentName,jdbcType=VARCHAR}
    where instrument_id = #{instrumentId,jdbcType=INTEGER}
  </update>
</mapper>